<div class="about-shoop">
  <h4> About Shoop </h4>
  <blockquote>
      <p>"Shoop" is the lead single released from Salt-N-Pepa's fourth studio album, Very Necessary.</p>
      <footer><cite>Wikipidea</cite></footer>
  </blockquote>
  <p>
    This app is anything but necessary.
  </p>
  <blockquote>
      <p> Question: "What does 'Shoop' mean in the Salt n Peppa song Shoop Ba Doop?"</p>
      <p>Answer: "Doesn't mean anything. It's just something that's fun to sing."</p>
      <footer><cite>Cheryl James - NY Daily News Interview</cite></footer>
  </blockquote>
  <p>
    It is intended to meet the requirments of WDI projct two...and entertain it's createor.
  </p>
  <p>
    The title shoop was chosen, because SEE ANSWER ABOVE!
  </p>
  <p>
    Slightly more serious answer - this is intended to be a fun way to make prety pictures/animations.
  </p>
</div>
