<article class="main">
    <p id="listBoards"> Board Managment</p>
    <ul class="flex-container game-board" id="game-board">

    </ul>
    <div class="new-game-button-div">
          {{> newGameForm}}
        </div>
</article>
