<article class="main">
    <p id="listBoards"> Board Managment</p>
    <ul class="flex-container game-board" id="game-board">
    </ul>
    <div class="board-managment">

      <!-- <form class='userEvents' id='list-boards'>
          <button type="submit" class="btn btn-default">list boards</button>
      </form> -->

    {{> newGameForm}}

        </div>
</article>
