<article class="main">
    <ul class="flex-container game-board" id="game-board">
    </ul>

    <button id="button" type="submit" class="randomize_board">Randomize the Board</button>
    <button id="button" type="submit" class="clear_board">Clear This Board</button>
    <button id="button" type="submit" class="animate_board">Animate this Board</button>
    <button id="button" type="submit" class="stop_animation">Stop Animation</button>
    <button type="button" type="submit" class="delete-board">Delete Board</button>
</article>
