
<aside class="aside aside-2" id="signInUp" <h2> Sign Up </h2>
    <form class='userEvents' id='sign-up'>
        <div class="form-group">
            <input type="text" name="credentials[email]" id="signUpEmail" placeholder="Enter Email">
            <input type="password" name="credentials[password]" id="signUpPassword" placeholder="Enter Password">
            <input type="password" name="credentials[password_confirmation]" id="signUpPassword_confirmation" placeholder="Confirm Password">
        </div>
        <button type="submit" class="btn btn-default">Sign Up</button>
    </form>

    <h2>Sign in</h2>
    <form class='userEvents' id='sign-in'>
        <div class="form-group">
            <input type="text" name="credentials[email]" id="email" placeholder="Enter Email">
            <input type="password" name="credentials[password]" id="password" placeholder="Enter PW">
        </div>
        <button type="submit" class="btn btn-default">Sign In</button>
    </form>

</aside>
<!--
