<!-- {{#each cells as |cell|}} -->
  {{#each cell}}
<li class="flex-item y:{{this.yCord}} x:{{this.xCord}} value-{{this.intialValue}}"></li>
  {{/each}}
<!-- {{/each}} -->

    <button id="button" type="submit" class="randomize_board btn btn-default">Randomize the Board</button>
    <button id="button" type="submit" class="animate_board btn btn-default">Animate this Board</button>
    <button id="button" type="submit" class="stop_animation btn btn-default">Stop Animation</button>
    <button type="button" type="submit" class="delete-board btn btn-default">Delete Board</button>
    <button type="submit" class="save-board btn btn-default">Save this board!</button>
