<div class="save-as">

  <h2> Save this board - if it's already been saved </h2>
  <form class='userEvents' id='save-board'>
      <div class="form-group">
          <input type="text" name="board[title]" accept="" placeholder="Enter title">
      </div>
      <button type="submit" class="btn btn-default">The board!</button>
  </form>
</div>
