<div class = "video">
<p class="bg-danger"> This is playing b/c you are animating a BOARD</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/4vaN01VLYSQ?autoplay=1" frameborder="0" allowfullscreen></iframe>
</div>
