<div class="shoop-rules">
    <h4> Rules of Shoop </h4>
    <p> To start a new board click the New Game button below</p>
    <p> To access a saved board click on one of your boards below</p>
    <p> Once editing a board, click the "List Boards" button to return to your saved list </p>
    <p> When you're editing a board make sure to save often! </p>
    <p> There are two kinds of animation:</p>
    <p> 1. Blink board, that will just alternate colors</p>
    <p> 2. Make the board SHOOP- or a modified version of Conways game of life </p>
    <p> Modified b/c it has never been varified against another source.</p>
    <p> Shoop Animation Rules:</p>
    <ul>
        <li> If a blue(alive) cell is bordered by fewer than 2 blue(alive) cells it turns red(dies)
        <li> If a blue(alive) cell is borderd by more than 3 blue(alive) cells it turns red(dies)
        <li> If a red(dead) cell is borderd by three blue(alive) cells it turns blue(IT LIVES)
        <li> Otherwise...my favorite thing happens...nada
    </ul>


</div>
