<div class="shoop-rules">
  <h4> Rules of Shoop </h4>
  <p> To start a new board click the New Game button below</p>
  <p> To access a saved board click on one of your boards below</p>
  <p> There are two kinds of animation:</p>
<p> 1. Blink board, that will just alternate colors</p>
<p> 2. Make the board SHOOP- or a modified version of Conways game of life </p>
<p> Modified b/c we've never varified it against a published source, but the authors tests indicate it does work.</p>

</div>
