$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  width: 280px;
  flex-flow: row wrap;
}

.flex-item {
  // background: tomato;
  width: 10px;
  height: 10px;
  border: 1px solid black;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;

}

.value-1 {
  background: tomato
}

.value-2{
  background: skyblue;
}

.list_of_boards{
  color: blue;
}


.wrapper {
  display: flex;
  flex-flow: row wrap;

  font-weight: bold;
  text-align: center;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.header {
  background: tomato;
}

.footer {
  background: lightgreen;
}

.main {
  text-align: left;
  background: deepskyblue;
}

.aside-1 {
  background: gold;
}

.aside-2 {
  background: hotpink;
}

@media all and (min-width: 600px) {
  .aside { flex: 1 auto; }
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .aside-1 { order: 1; }
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
}

body {
  padding: 2em;
}
